// - Font sizes (px):
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

// - Spacing system (px):
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

// COLORS
$color-primary: #27ae60;
$color-primary-light-1: #d4efdf;
$color-primary-light-2: #93d7b0;
$color-green-dark-1: #0c450a;

// Font weight
$font-weight-default: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Line height
$line-height-default: 1;
$line-height-small: 1.05;
$line-height-medium: 1.2;
$line-height-large: 1.8;
$line-height-paragraph-default: 1.6;

// Letter spacing
$letter-spacing-default: 1px;
$letter-spacing-small: -0.5px;
$letter-spacing-medium: 1.2px;
$letters-spaicng-paragraph-medium: 1.6px;

// Background colors
$bg-color-primary-light: #d4efdf;
$bg-color-white: #fff;

// FONT
$default-font-size: 1.6rem;
$default-font-family: "Rubik", sans-serif;

// FONT COLORS
$color-dark-grey-1: #555;
$color-dark-grey-2: #333;
$color-light-grey-1: #eee;
$color-white: #fff;

// BOX-SHASDOWS
$box-shadow-small: 0 0.7rem 0.5rem 0 #d4dae0;
$box-shadow-large: 0 2.6rem 4.1rem 0 #d4dae0;

// BORDER-RADIUS
$border-radius-medium: 0.9rem;
$border-radius-large: 1.1rem;
