.btn {
  display: inline-block;
  text-decoration: none;

  border: none;
  border-radius: $border-radius-medium;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.3s;
  font-weight: $font-weight-semi-bold;

  &--form {
    background-color: $color-green-dark-1;
    padding: 1.2rem;
    color: $color-primary-light-1;
    transition: all 0.3s;

    &:hover {
      background-color: $color-primary-light-1;
      color: $color-green-dark-1;
    }
  }

  &--full {
    background-color: $color-primary;
    color: $color-white;
    padding: 1.6rem 3.2rem;
  }

  &--mobile-nav {
    transform: translateX(-8rem);
    cursor: pointer;
    background-color: transparent;
    display: none;
    padding: 0.6rem 1.2rem;

    @include respond(tab-port) {
      display: block;
    }
  }
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.nav-open .icon-mobile-nav[name="close-outline"] {
  display: block;
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none;
}
