.position-sticky {
  position: sticky;
  top: 2rem;
}

.mb-md {
  margin-bottom: 2rem !important;
}

.mb-lg {
  margin-bottom: 4rem !important;
}

.mb-xlg {
  margin-bottom: 8rem !important;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  align-items: center;
}

.text-center {
  text-align: center;
}
